name: Angular CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Build Angular project
      - name: Build Angular
        run: npm run build --if-present

      # Optional: Run tests
      - name: Run Tests
        run: npm test --if-present
